{% load l10n %}
{% load static from staticfiles %}
<html>
<body>
	<table style="width:600px" border="0" cellspacing="0" align="center">
		<tbody>
			<tr>
				<td colspan="3" bgcolor="#b6c19b">
					<div align="center"><img src="{{ url }}{% static "images/top.png" %}" width="600" height="66"></div>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" bgcolor="#b6c19b" width="201" height="118">
					<div align="center"><img src="{{ url }}{% static "images/logo.png" %}" alt="Organicos de mi Tierra" width="200"></div>
				</td>
				<td align="center" valign="middle" bgcolor="#b6c19b" width="250">
					<div align="center">
						<p style="color:#274e13;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:18px"><strong>DÍA DE ENTREGA </strong>ALIMENTOS ECOLÓGICOS.</p>
					</div>
					<p style="color:#274e13;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:13px"><strong><strong>¡Tu pedido está confirmado!</strong></strong></p>
				</td>
				<td align="center" valign="middle" bgcolor="#b6c19b" width="149">
					<div align="center"><img src="{{ url }}{% static "images/natural.png" %}" alt="Productos naturales libres de agrotóxicos" width="111"></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#b6c19b">
					<div align="center"><span style="color:#741b47;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:13px">Se entregará el <strong>{{ order.delivery_date|date:"l\, j \d\e F \d\e Y" }} {{ order.delivery_method.delivery_time }}</strong> en <strong>{% if order.delivery_method.is_delivery %}{{ order.delivery_address }}{% else %}{{ order.delivery_method.pickup_address }}{% endif %}</strong></span></div>
				</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#a3b181">
					<div align="center">
						<p style="color:#274e13;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:14px"><strong><em>¡Muchas gracias por tu compra! </em></strong><br>{{ order.staff_comments }}</p>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<table style="width:600px" border="0" cellspacing="0" align="center">
		<tbody>
			{% for item in order.orderitem_set.all %}
			<tr>
				<td align="center" width="7%" valign="middle" bgcolor="{% if forloop.counter|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">{{ item.quantity }}</td>
				<td align="left" width="78%" valign="middle" bgcolor="{% if forloop.counter|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">{{ item.display }}</td>
				<td align="right" width="15%" bgcolor="{% if forloop.counter|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" valign="middle" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">${{ item.item_total|floatformat:2 }}</td>
			</tr>
			{% endfor %}
			{% if order.delivery_price %}
			{% with lastloop=order.orderitem_set.count|add:'1' %}
			<tr>
				<td align="center" valign="middle" bgcolor="{% if lastloop|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">1</td>
				<td align="left" valign="middle" bgcolor="{% if lastloop|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">{{ order.delivery_method }}</td>
				<td align="right" bgcolor="{% if lastloop|divisibleby:2 %}#a3b181{% else %}#b6c19b{% endif %}" valign="middle" style="padding-top:4px;padding-bottom:4px;color:#3E3939;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:15px">${{ order.delivery_price|floatformat:2 }}</td>
			</tr>
			{% endwith %}
			{% endif %}
			<tr>
				<td colspan="2" align="center" valign="middle" bgcolor="#b41b62" style="color:#ecd9a8;font-size:18px">TOTAL</td>
				<td bgcolor="#b41b62" align="right" style="color:#ecd9a8;font-family:Geneva,Arial,Helvetica,sans-serif;font-size:18px">${{ order.get_order_total|floatformat:2 }}</td>
			</tr>
			<tr>
				<td colspan="3" bgcolor="#a3b181">
					<div align="center">
						<p style="color:#274e13;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:16px">{{ order.delivery_method.notes | safe }}</p>
						<p style="color:#274e13;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:16px"><em><strong>--.Se agradece devolver las bolsas de las verduras, la cooperativa puede reciclarlas.--</strong></em></p>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="3" align="center" valign="middle" bgcolor="#006600">
					<p style="color:#ecd9a8;font-family:Geneva,Arial,Helvetica,sans-serif;text-align:center;font-size:16px"><strong>:: Órganicos de Mi Tierra ::</strong></p><font color=#888888>
				</font></td><font color=#888888>
			</font></tr><font color=#888888>

		</tbody>
	</table>
</body>
</html>