<h4>{{ product.name }}</h4>
<p>{{ product.description }}</p>
<dl class="dl-horizontal">
  <dt>Presentación</dt>
  <dd>{{ selected_price.presentation }}</dd>
  <dt>Precio</dt>
  <dd>$&nbsp;{{ selected_price.sell_price|floatformat:2 }}</dd>
</dl>
{% if existing_items %}
<h4>Este producto ya está en el carrito</h4>
<ul>
    {% for item in existing_items %}<li><strong>{{ item.quantity }}</strong> {% if item.quantity == 1 %}{{ item.product.presentation|lower }}{% else %}{{ item.product.presentation.plural_repr|lower }}{% endif %}</li>{% endfor %}
</ul>
{% endif %}
<form action="#" method="post">
<div class="form-group">
    <label for="quantity">Cantidad</label>
    <input name="quantity" value="1" class="form-control input" />
</div>
{% if product.price_set.active|length > 1 %}
<div class="form-group">
    <label for="price_id">¿Preferís alguna de estas alternativas?</label>
    {% for price in product.price_set.active %}
    <div class="radio" {% if price.id == selected_price.id %}style="display: none;"{% endif %}>
      <label class="radio-inline"><input type="radio" name="price_id" value="{{ price.id }}" id="price_id_{{ price.id }}" data-price-name="{{ price.product.name }} ({{ price.presentation }})" {% if price.id == selected_price.id %}checked{% endif %}>{{ price }}</label>
    </div>
    {% endfor %}
</div>
{% else%}
<input type="hidden" name="price_id" value="{{ selected_price.id }}" data-price-name="{{ selected_price.product.name }} ({{ selected_price.presentation }})" />
{% endif %}
<div class="form-group">
    <label for="comments">¿Nos querés dejar un comentario?</label>
    <input name="comments" class="form-control input" />
</div>
<div class="modal-footer">
  {% if is_logged_in %}
  <button type="button" class="btn btn-info" onclick="btnAddToCart(event)" data-dismiss="modal">Agregar</button>
  {% else %}
  <p style="text-align:center">Necesitas iniciar sesión para agregar productos al carrito.</p>
  <a class="btn btn-primary form-control" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Inicia sesión</a>
  {% endif %}
</div>
</form>
