<h4>{{ product.name }}</h4>
<p>{{ product.description }}</p>
{% if existing_items %}
<h4>Ya tenés en tu carrito</h4>
<ul>
    {% for item in existing_items %}<li><strong>{{ item.quantity }}</strong> {{ item.product }}</li>{% endfor %}
</ul>
{% endif %}
<h4>Elegí una opción</h4>
<form action="#" method="post">
<div class="form-group">
    {% for price in product.price_set.active %}
    <div class="radio">
      <label class="radio-inline"><input type="radio" name="price_id" value="{{ price.id }}" id="price_id_{{ price.id }}" {% if price.id == selected_price.id %}checked{% endif %}>{{ price }}</label>
    </div>
    {% endfor %}
</div>
<div class="form-group">
    <label for="quantity">Cantidad</label>
    <input name="quantity" value="1" class="form-control input" />
</div>
<div class="form-group">
    <label for="comments">¿Nos querés dejar un comentario?</label>
    <input name="comments" class="form-control input" />
</div>
<div class="modal-footer">
  {% if is_logged_in %}
  <button type="button" class="btn btn-info" onclick="btnAddToCart(event)" data-dismiss="modal">Agregar</button>
  {% else %}
  <p style="text-align:center">Necesitas iniciar sesión para agregar productos al carrito.</p>
  <a class="btn btn-primary form-control" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Inicia sesión</a>
  {% endif %}
</div>
</form>
