{% extends "organicos_base.html" %}
{% load i18n %}
{% block content %}

<div class="container container-bar">
    <div class="row">
        {% if empty_cart %}
        <h2>Tu carrito está vacío.</h2>
        {% else %}
        <h2>El detalle de tu pedido ({{ order.code }})</h2>

        {% if tf_closed and order.status == 10 %}
        <p class="lead"><strong>Nota importante: </strong>los pedidos para la próxima entrega ya están cerrados. Si confirmás ahora, tu pedido se entregará entre el {{ tf_delivery_start|date:"d \d\e F"|lower }} y el {{ tf_delivery_end|date:"d \d\e F"|lower }} dependiendo de la forma de envío elegida.</p>
        {% endif %}

        {% if order.status == 10 %}
        <form method="post">
            {% csrf_token %}
            {% else %}
            <p class="lead">Tu pedido está confirmado</p>
            {% endif %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th width="3%"></th>
                        <th width="10%">Cantidad</th>
                        <th>Producto</th>
                        <th>Presentación</th>
                        <th width="10%" class="cart-price">Unitario</th>
                        <th width="10%" class="cart-price">Total</th>
                        <th>Pedidos especiales</th>
                    </thead>
                    <tbody>
                        {% for item in order.orderitem_set.all %}
                        <tr>
                            <td id="{{ item.id }}">{% if order.status == 10 %}<a href="#" onclick="removeItem(event)"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</td>
                            <td>{% if order.status == 10 %}<input type="number" onchange="checkQtyValue(this)" class="form-control input-sm quantity" name="quantity_{{ item.id }}" value="{{ item.quantity }}" />{% else %}{{ item.quantity }}{% endif %}</td>
                            <td>{{ item.product.product }}</td>
                            <td>{{ item.product.presentation }}</td>
                            <td align="right" class="cart-price">$&nbsp;{{ item.sell_price|floatformat:2 }}</td>
                            <td align="right" class="cart-price">$&nbsp;{{ item.item_total|floatformat:2 }}</td>
                            <td>
                                {% if order.status == 10 %}
                                <a href="#" {% if item.comments %}style="display:none;"{% endif %} onclick="toggleInput(this)"><span class="glyphicon glyphicon-comment"></span></a>
                                <input type="text" {% if not item.comments %}style="display:none;"{% endif %} class="form-control input-sm comment" onchange="checkQtyValue(this)" class="form-control input-sm" name="comment_{{ item.id }}" value="{{ item.comments }}" onblur="blurComments(this)" />
                                {% else %}{{ item.comments }}{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% if order.status >= 20 and order.delivery_price %}
                        <tr>
                            <td id="delivery_price"></td>
                            <td>1</td>
                            <td>{{ order.delivery_method }}</td>
                            <td></td>
                            <td align="right" class="cart-price">$&nbsp;{{ order.delivery_price|floatformat:2 }}</td>
                            <td align="right" class="cart-price">$&nbsp;{{ order.delivery_price|floatformat:2 }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="4" align="right" class="cart-price"><strong>Total</strong></td>
                            <td align="right" class="cart-price"><strong>$&nbsp;{{ order.get_order_total|floatformat:2 }}</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="4" align="right" class="cart-price"><strong>Total (sin envío)</strong></td>
                            <td align="right" class="cart-price"><strong>$&nbsp;{{ order.get_order_total_without_delivery|floatformat:2 }}</strong></td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% if order.status == 10 %}
            <button type="submit" id="update-button" disabled class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Modificar pedido</button>
            &nbsp;
            <a href="{% url 'home' %}" id="back-button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Continuar comprando</a>
        </form>
        {% endif %}
    </div>
    {% if order.status == 10 %}
    <form method="post" action="{% url 'confirm_cart' %}">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-8">
                <h2>Detalles de la entrega</h2>
                <div class="form-group">
                    <label for="delivery_method">Método de entrega</label>
                    <select class="form-control" id="delivery_method" name="delivery_method">
                        {% for dm in delivery_methods %}
                        <option value="{{dm.id}}" {% if order.delivery_method_id == dm.id %}selected{% endif %}>{{ dm.name }} {% if dm.delivery_price %}($&nbsp;{{ dm.delivery_price|floatformat:2 }}){% else %}({% trans 'sin costo' %}){% endif %}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Dirección de envío</label>
                    <textarea class="form-control" id="delivery_address" name="delivery_address">{{ customer.address }}</textarea>
                </div>
                <div class="form-group">
                    <label for="comments">Comentarios y pedidos especiales</label>
                    <textarea class="form-control" id="user_comments" name="user_comments">{{ order.user_comments }}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary cart-price"><span class="glyphicon glyphicon-ok"></span>&nbsp;Finalizar la compra</button>
        </div>
    </form>
    {% else %}
    <dl class="dl-horizontal">
        <dt>Forma de entrega</dt>
        <dd>{{ order.delivery_method }}</dd>
        {% if order.delivery_method.is_delivery %}
        <dt>Dirección de envío</dt>
        <dd>{{ order.delivery_address }}</dd>
        {% endif %}
        <dt>Fecha de entrega</dt>
        <dd>{{ order.delivery_date|date:"l d \d\e F \d\e Y"|lower|capfirst }}</dd>
        <dt>Hora de entrega</dt>
        <dd>{{ order.delivery_method.delivery_time|capfirst }}</dd>
    </dl>
    <p><small>Tu pedido está siendo procesado. Recibirás nuestra confirmación en breves momentos.</small></p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
{% if order.status == 10 %}
<script type="text/javascript">
    function removeItem(ev) {
        ev.preventDefault();
        var $inpt = $(ev.target).closest('tr').find('.quantity');
        $inpt.val(0);
        checkQtyValue($inpt);
    }
    function checkQtyValue(inpt) {
        $('.cart-price').fadeOut(800);
        $('#update-button').attr('disabled', false);
        elAlert = $('<div class="alert alert-warning alert-dismissible alert-fixed" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Modificaste el pedido. Hacé click en <strong>Modificar pedido</strong> para actualizar los precios.</div>');
        var aWrapper = $('#alert-wrapper');
        aWrapper.children().alert('close');
        aWrapper.append(elAlert);
        elAlert.fadeIn(800);
        setTimeout(function closeAlert(){
            elAlert.alert('close');
        }, 5000);

        if ($(inpt).hasClass('quantity')) {
            if (parseFloat($(inpt).val()) > 0) {
                $(inpt).closest('tr').removeClass('removed');
            }
            else {
                $(inpt).closest('tr').addClass('removed');
            }
        }
    }

    function toggleInput(btn) {
        $(btn).toggle();
        var input = $(btn).next();
        input.fadeToggle();
        input.focus();
        return false;
    }

    function blurComments(input) {
        input = $(input);
        if (input.val())
            return;
        input.prev().fadeToggle();
        input.toggle();
    }
</script>
{% endif %}
{% endblock %}
