{% if order.orderitem_set.all %}
<h4><a href="{% url 'shopping_cart' %}"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Tu lista&nbsp;-&nbsp;Finalizar pedido</a></h4>
{% endif %}
<ul class="list-group cart-list" id="cart-status">
    {% for item in order.orderitem_set.all %}
    <form method="post">
    <li class="list-group-item row">
    <div class="col-xs-10">
    <input type="hidden" name="price_id" value="{{ item.product.id }}" />
    <a href="{% url 'shopping_cart' %}#{{ item.id }}">{{ item.quantity }} {%if item.quantity == 1%}{{ item.product.presentation.name|lower }}{% else %}{{ item.product.presentation.plural_name|lower }}{% endif %} de <strong>{{ item.product.product.name|lower }}</strong> ($&nbsp;{{ item.item_total|floatformat:2 }})</a>
    </div>
    <div class="text-right col-xs-2 pull-right">
    <a href="#" onclick="btnAddToCart(event, 1)"><span class="glyphicon glyphicon-plus-sign"></span></a>
    <a href="#" onclick="btnAddToCart(event, -1)"><span class="glyphicon glyphicon-minus-sign"></span></a>
    </div>
    </li>
    </form>
    {% endfor %}
    {% if order.orderitem_set.count %}
    <li class="list-group-item row">
    <div class="col-xs-10 text-muted">
    Total hasta ahora: <strong>$&nbsp;{{ order.get_order_total_without_delivery|floatformat:2 }}</strong>
    </div>
    </li>
    {% endif %}
</ul>
