    {% extends "organicos_base.html" %}
    {% load bootstrap3 %}

    {% block content %}

    {% if not category_browse %}
    <div class="jumbotron">
            <div class="carousel-holder">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/1024x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/1024x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/1024x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                </div>

            </div>
        </div>
    {% endif %}
    <div class="container {% if category_browse %}container-bar{% endif %}">
    <div class="row">

        <div class="col-md-3">
            <h4>Nuestros productos</h4>
            <div class="list-group">
                {% for category in categories %}
                <a href="{% url 'category' category=category.slug %}" class="list-group-item">{{ category.name }}</a>
                {% endfor %}
            </div>
            <div class="hidden-sm hidden-xs" id="cart-status">
            </div>
        </div>

        <div class="col-md-9">

            {% for product in products %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="row">
                {% endif %}

                <a name="{{ product.id }}"></a>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <!-- <img src="http://placehold.it/320x150" alt=""> -->
                        <div class="caption-full">
                            <h4><a href="#">{{ product.name }}</a></h4>
                            <p>{{ product.description }}</p>
                            <form method="post" action="{% url 'shopping_cart' %}" class="form-inline">
                                {% csrf_token %}
                                <div class="form-group">
                                    <button onclick="btnAddProductDialog({{ product.id }}, event)" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
    <div class="row container">
        <div class="visible-sm-block visible-xs-block col-sm-12 col-xs-12" id="cart-status-sm"></div>
    </div>
    </div>
    {% endblock %}

    {% block dialogs %}
    {% endblock %}

    {% block javascript %}
    <script type="text/javascript">
        $(function(){
            updateCartStatus();
        });

    function updateCartStatus() {
        var $cartStatus = $('#cart-status');
        if (!$cartStatus.is(':visible'))
            $cartStatus = $('#cart-status-sm');
        $cartStatus.fadeOut(100);
        $.ajax({
            url: '{% url "cart_status" %}',
        })
        .then(function(data) {
            $cartStatus.html(data);
            $cartStatus.fadeIn(200);
        });
    }
    </script>
    {% endblock %}
