{% extends "organicos_base.html" %}
{% load bootstrap3 %}

    {% block title %}{% if category_browse %}{{selected_category.name}} - {% endif %}Organicos de mi tierra - mercado de alimentos saludables en Córdoba{% endblock %}
    {% block content %}
    <div id="wrapper">
    {% if not category_browse %}
    <div class="jumbotron" style="padding:31px 0 0 0;">
        <div class="carousel-holder">
            <div id="promo-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for promo_image in promo_images %}
                    <li data-target="#promo-carousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for promo_image in promo_images %}
                    <div class="item{% if forloop.counter0 == 0 %} active{% endif %}">
                        <img class="slide-image" src="{{ promo_image.image.url }}" alt="{{ promo_image.description }}">
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#promo-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#promo-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>
    {% endif %}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="products-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Nuestros productos
                    </a>
                </li>
                <li>
                    {% for category in categories %}
                    <a href="{% url 'category' category=category.slug %}"class="{% if category.subcategories.active.exists %}has-children{% endif %} {% if selected_category == category %}selected-category{% endif %}">{{ category.name }}</a>
                        {% if selected_category == category or selected_category.parent == category %}
                        {% for subcategory in category.subcategories.active %}
                        <a href="{% url 'category' category=subcategory.slug %}" class="inner {% if selected_category == subcategory %}selected-category{% endif %}">{{ subcategory.name }}</a>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper" {% block containerprops %}{% endblock %}>
            <div class="container-fluid {% if category_browse %}container-bar{% endif %}">
                {% if category_browse %}<h1>{% block containertitle %}{{ selected_category.parent_crumbs }}{{ category_header }} <em>{{ category_header_additional }}</em>{% endblock %}</h1>{% endif %}
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-9">
                    {% block maincontent %}
                        {% for price in products %}
                        {% if forloop.first %}
                        <div class="row">
                            {% endif %}
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <div class="caption-full">
                                        <h4><a href="{% url 'price' price.slug_id %}" onclick="btnAddProductDialog({{ price.id }}, event)">{{ price.product.name }}</a></h4>
                                        <p>{{ price.presentation }}</p>
                                        {% if price.product.description %}<p>{{ price.product.description }}</p>{% endif %}
                                        <p>$&nbsp;{{ price.sell_price|floatformat:2 }}</p>
                                        <div class="form-group">
                                            <button onclick="btnAddProductDialog({{ price.id }}, event)" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar</button>
                                            {% if request.user.is_staff %}
                                            <a class="btn btn-primary" href="{% url 'admin:deliproducts_price_change' price.id %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div>
                        <div class="row">
                        {% elif forloop.last %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endblock %}
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div id="cart-status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    {% endblock %}

    {% block dialogs %}
    {% endblock %}

    {% block javascript %}
    <script type="text/javascript">
        $(function(){
            updateCartStatus();
        });

    function updateCartStatus(promise) {
        var $cartStatus = $('#cart-status');
        if (!$cartStatus.is(':visible'))
            $cartStatus = $('#cart-status-sm');
        $cartStatus.fadeOut(100);
        
        $.when(promise)
        .then(function(){
            $.ajax({
                url: '{% url "cart_status" %}',
            })
            .then(function(data) {
                $cartStatus.html(data);
                $cartStatus.fadeIn(200);
            });            
        });
    }
    </script>
    {% endblock %}
