{% extends "home.html" %}
{% load bootstrap3 md2 l10n %}

{% block title %}{{ price.product.name }}{% endblock %}
{% block containerprops %}itemscope itemtype="http://schema.org/Product"{% endblock %}
{% block containertitle %}<span itemprop="name">{{ price.product.name }}</span>{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <!--<img class="img-responsive" src="http://placehold.it/800x300" alt="">-->
                <div class="caption-full">
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <h4 class="pull-right"><span itemprop="priceCurrency" content="ARS">$ </span><span itemprop="price" content="{{ price.sell_price | stringformat:'.2f' }}">{{ price.sell_price | floatformat:2 }}</span></h4>
                        <link itemprop="availability" href="http://schema.org/InStock" />
                    </span>
                    <p itemprop="description">{{ price.product.description }}</p>
                    <p>{{ price.product.long_description | markdown }}</p>
                    <dl class="dl-horizontal" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
                      <dt itemprop="name">Presentación</dt>
                      <dd itemprop="value">{{ price.presentation }}</dd>
                    </dl>
                </div>
                <div class="caption-full">
                    <div class="form-group">
                        <button onclick="btnAddProductDialog({{ price.id }}, event)" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;Agregar</button>
                        {% if request.user.is_staff %}
                        <a class="btn btn-primary" href="{% url 'admin:deliproducts_price_change' price.id %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Editar</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
